body{
    font-family: Arial;
    background:#cab0b0;
}

.todo-container{
    width:300px;
    margin:40px auto;
    background:rgb(150, 150, 231);
    padding:20px;
    border-radius:10px;
}

input{
    width:70%;
    padding:8px;
}

button{
    padding:8px 12px;
    cursor:pointer;
    background-color: rgb(186, 127, 175);
}

li{
    display:flex;
    justify-content:space-between;
    margin:10px 0;
}

.completed{
    text-decoration:line-through;
    color:rgb(62, 65, 70);
}